@font-face {
  font-family: funk_font;
  src: url('../fonts/Funk.ttf') format('truetype');
}

@font-face {
  font-family: 'Digital';
  src: url('../fonts/open_24_hour.ttf') format('truetype');
}

.digital {
  font-family: 'Digital';
  display: inline-block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pointer {
  cursor: pointer !important;
}

.funky {
  font-family: funk_font;
}

.selected-toolbar-item .v-btn__content::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: orangered;
  position: absolute;
  bottom: 0;
  left: 0;
}



/* Incomplete */
.release-status-3 {
  border: 1px solid lightcoral;
}

/* Missing */
.release-status-4 {
  border: 1px solid red;
}

.release-rank, .artist-rank { 
  font-size: 8px;
  vertical-align: middle;
}

.pull-left {
  float: left !important;
}

img.modal-image {
  max-width: 100%;
}

.rainbow, .playing-artist, .playing-release, .playing-track {
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-rainbow { 
  background: initial !important;
  background-clip: initial  !important;  
  -webkit-background-clip: initial  !important;
  -webkit-text-fill-color: initial !important;
}

.modal-image-container {
  width: unset;
}

@media only screen and (max-width: 959px) {
  .sign-in-container .container, .register-container .container {
    padding: 4px;
  }
  .search-input {
    width: 115px;
  }
}